* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    .logo {
        text-align: center;
    }
    .navbar {
        text-align: center;
        background-color: #B1D281;
        padding: 1.5rem 0;
        li {
            display: inline-block;
            padding: 0 1rem;
            font-size: 1.5rem;
            font-weight: 800;
            a {
                text-decoration: none;
                color: white;
            }
            a:hover {
                color: #002D75;
                border-bottom: 3px solid #002D75;
            }
        }
    }
}

main {
    color: #002D75;
}

.container_home {
    text-align: center;
    padding: 2rem 0;
    p {
        padding: 1rem 0;
    }
}

.container_products {
    padding: 2rem 0;
    background-image: url('../img/fondo-pag-speciali.jpg');
    h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: 900;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        .card {
            flex-basis: calc(33.33% - 2rem);
            margin: 1rem;
            padding: 1rem;
            img {
                width: 100%;
            }
        }
    }
}