* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

header .logo {
  text-align: center;
}

header .navbar {
  text-align: center;
  background-color: #B1D281;
  padding: 1.5rem 0;
}

header .navbar li {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 800;
}

header .navbar li a {
  text-decoration: none;
  color: white;
}

header .navbar li a:hover {
  color: #002D75;
  border-bottom: 3px solid #002D75;
}

header .navbar .active {
  color: #002D75;
  border-bottom: 3px solid #002D75;
}

main {
  color: #002D75;
  text-align: center;
}

.container {
  padding: 2rem 0;
}

.home p {
  padding: 1rem 0;
}

.products {
  background-image: url(/images/fondo-pag-speciali.jpg?06a79f19fbb4489a17e2dff67ce37137);
}

.products h2 {
  font-size: 2rem;
  font-weight: 900;
}

.products section {
  display: flex;
  flex-wrap: wrap;
}

.products section .card {
  position: relative;
  flex-basis: calc(33.33% - 4rem);
  margin: 2rem;
}

.products section .card img {
  width: 100%;
  height: 100%;
}

.products section .card .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(235, 184, 18, 0.4);
  color: black;
  opacity: 0;
}

.products section .card .overlay img {
  width: 25%;
  height: 150px;
}

.products section .card .overlay h4 {
  padding: 0.5rem 0;
  font-size: 1.25rem;
}

.products section .card .overlay p {
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.products section .card .overlay:hover {
  opacity: 1;
}

